<h1>This is my about page</h1>
	<p>This is my about page and link to my webiste is <a href="http://gauravtiwari.co.uk/">Gaurav Tiwari page</a></p>
<p>Please go to <a class="buttons" href="http://localhost:3000/pages/home">Home page</a>
Also you can go to <a class="buttons" href="http://localhost:3000/pages/contact">Contact page</a></p>


