   <footer>
	 
	<nav class="round">
		<ul>
			<li><%= button_link_to "About",'#'%></li>
			<li><%= button_link_to "News",'#'%></li>
			<li><%= add_button_link_to "Contact Us",'#'%></li>
			<li><%= button_link_to "Help",'#'%></li>
		</ul>
	</nav>
   </footer>
